@import './mixin';

  .detail_page{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 202;
      padding-top: 1.95rem;
      p, span{
          font-family: Helvetica Neue,Tahoma,Arial;
      }
  }
  .scroll_container{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 1.95rem;
      overflow-y: auto;
  }
  .markdown{
      font-size: .65rem;
      padding: 0 .7rem;
      color: #666;
      padding-bottom: 2rem;
      background: #fff;
      h2{
        font-size: 0.6rem;
        line-height: 01rem;
      }
  }